<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMIPDF</title>
</head>
<body>

    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{{ path('app_Home') }}">Accueil</a></li>

            {% if app.user %}
                <li><a href="{{ path('app_history') }}">Historique</a></li>
                <li><a href="{{ path('app_pdf') }}">URL to PDF</a></li>
                <li><a href="{{ path('generate_pdf') }}">HTML to PDF</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                <li><a href="{{path('subscription_page')}}">Subscription</a></li>
                {% if user_subscription is defined and user_subscription is not null %}
                    <li>Nombre de PDFs générés aujourd'hui : {{ count }} / {{ user_subscription.maxpdf }}</li>
                {% endif %}
                <li>Bienvenue, {{ app.user.firstname }}</li>

            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                <li><a href="{{ path('app_register') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Contenu principal -->
    <main>
        {% block body %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 - Mon Site</p>
    </footer>

</body>
</html>
